{% extends 'base.html.twig' %}

{% block title %}Nouvel evenement{% endblock %}

{% block body %}
    <h1>Creer un nouvel evenement</h1>

    {{ include('admin_event/_form.html.twig') }}

    <a href="{{ path('app_admin_event_index') }}">Voir la liste</a>
{% endblock %}
