{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam provident, quibusdam minus architecto amet tenetur nisi praesentium asperiores? Eius porro voluptas vitae et rerum eveniet unde natus maiores facilis saepe.</p>
{% endblock %}
