{% extends 'base.html.twig' %}

{% block title %}Modifier une activite{% endblock %}

{% block body %}
    <h1>Modifier</h1>

    {{ include('admin_activity/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_admin_activity_index') }}">Voir la liste</a>

    {{ include('admin_activity/_delete_form.html.twig') }}
{% endblock %}
