<form method="post" action="{{ path('app_admin_project_delete', {'id': project.id}) }}" onsubmit="return confirm('Voulez-vous  vraiment supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
    <button class="btn">Supprimer</button>
</form>
