{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier le projet</h1>

    {{ include('admin_project/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_admin_project_index') }}">Voir la liste </a>

    {{ include('admin_project/_delete_form.html.twig') }}
{% endblock %}
