{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <h1>Creer un nouveau projet</h1>

    {{ include('admin_project/_form.html.twig') }}

    <a href="{{ path('app_admin_project_index') }}">Voir la liste</a>
{% endblock %}
