{% extends 'base.html.twig' %}

{% block title %}Nos activites{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des activites</h1>
    <section class="activities">
        {% for activity in activities %}
            <h2> {{ activity.activityName }} </h2>
            <div class="content">
                {{ activity.activityDetails | raw }}
            </div>
            {# <a href="{{ path('activity_show', {'id': activity.id})}}" class="btn btn-primary">Lire la suite</a> #}
        {% endfor %}
    </section>
</div>
{% endblock %}
