{% extends 'base.html.twig' %}

{% block title %}Nos Projets{% endblock %}

{% block body %}

<div class="container">
    <h1>Liste des projets :</h1>
    <section class="projects">
        {% for project in projects %}
            <h2> {{ project.projectTitle }} </h2>
            <div class="content">
                {{ project.projectDetails | raw }}
            </div>
            {# <a href="{{ path('project_show', {'id': project.id})}}" class="btn btn-primary">Lire la suite</a> #}
        {% endfor %}
    </section>
</div>
{% endblock %}
